config tunnel 'r3'
  option ignore  0
  option ff '10.12.240.241'
  option vlan 203
  option mur4 '89.106.211.1'
  option mur6 '2a02:3e0:2003:cafe::1'

config tunnel 'oag'
  option ignore  0
  option ff '10.12.91.77'
  option vlan 208
  option mur4 '89.106.211.5'
  option mur6 '2a02:3e0:2008:cafe::1'

config tunnel 'example1'
  option ignore  1
  option ff '10.12.23.9'
  option vlan 209
  option mur4 '89.106.211.9'

config tunnel 'example2'
  option ignore  1
  option ff '10.12.23.10'
  option vlan 210
  option mur6 '2a02:3e0:200A:cafe::1'

config tunnel 'example3'
  option ignore  1
  option ff '10.12.23.11'
  option vlan 211
  option mur4 '89.106.211.13'
  option mur6 '2a02:3e0:200B:cafe::1'
