config client active
  option gateway '10.12.34.89'
  option interface 'wan'
  option ipv6 'yes'

config client example1
  option gateway '10.12.34.89'
  option interface 'wan'

config client example2
  option gateway '10.12.34.89'
  option interface 'wan'
  option ipaddr '89.106.211.1'
  option ipv6 'no'

config client example3
  option gateway '10.12.34.89'
  option interface 'wan'
  option ipaddr '89.106.211.1'
  option ipv6 'yes'
